<div>
    <h1>Real time view Products</h1>

    <h2>Lista de Productos:</h2>
    <ul class="flex flex-wrap justify-items-center" id="ProductList">
    </ul>
    <br><br>

</div>

<di>
    <h2>Agregar Producto</h2>
    <form  id="AddForm" action="/realtimeproducts" method="post">
        <input id= "title" type="text" name="Title" placeholder="Product title">
        <input id= "description" type="text" name="Description" placeholder="Porduct description">
        <input id= "price" type="number" name="Price" placeholder="Porduct price">
        <input id= "code" type="text" name="Code" placeholder="Porduct code">
        <input id= "stock" type="number" name="Stock" placeholder="Porduct stock">
        <input id= "category" type="text" name="Category" placeholder="Porduct category">
        <button type="submit">Agregar</button>

    </form>
</di>

<di>
    <h2>Borrar Producto</h2>
    <form id="DeleteForm">
        <input id= "ID" type="number" name="ID" placeholder="ID del producto">
        <button type="submit">Borrar</button>
    </form>
</di>

<script src="/socket.io/socket.io.js"></script>
<script src="assets/js/index.js"></script>