<div class="flex flex-col">
    <h1 class="flex text-xl font-semibold mb-7">Real time view Products</h1>

    <h2 class="flex text-lg font-semibold mb-7 justify-center">Lista de Productos:</h2>
    <ul class="flex flex-wrap gap-5" id="ProductList">
    </ul>
    <br><br>

</div>

<div>
    <h2>Agregar Producto</h2>
    <form id="AddForm" action="/realtimeproducts" method="post">
        <input id= "title" type="text" name="Title" placeholder="Product title">
        <input id= "description" type="text" name="Description" placeholder="Porduct description">
        <input id= "price" type="number" name="Price" placeholder="Porduct price">
        <input id= "code" type="text" name="Code" placeholder="Porduct code">
        <input id= "stock" type="number" name="Stock" placeholder="Porduct stock">
        <input id= "category" type="text" name="Category" placeholder="Porduct category">
        <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Agregar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="assets/js/index.js"></script>