<header>
    <div class="flex flex-col place-items-center m-6">
        <nav class="flex gap-14 border rounded-md p-3">
            {{#if user}}
            <p class="font-semibold">Bienvenido {{user.name}}!</p>
            <a class="scale-96 hover:text-white hover:underline hover:scale-100 " href="/logOut">Cerrar sesion</a>
            {{else}}
            <a class="scale-96 hover:text-white hover:underline hover:scale-100 " href="/login">Iniciar sesion</a>
            <a class="scale-96 hover:text-white hover:underline hover:scale-100 " href="/register">Registrate</a>
            {{/if}}
        </nav>
    </div>
</header>